<form action="/signup" method="POST">
    <h2>Sign Up</h2>
    <label for="">username</label>
    <input type="text " name="username">
    <label for="">password</label>
    <input type="text" name="password">
    <button> Sign Up </button>
</form>