<h3>
    Users Page
</h3>

<style>
    p {
        margin-top: 50px;
    }

    .container {
        background-image: url("http://www.webdesigndev.com/wp-content/uploads/2014/09/5-Blurred-Backgrounds-Vol.1.jpg");
        height: 800px;
        background-repeat: no-repeat;
    }
</style>

<div class="container">


    <p>
        welcome: {{user.username}}

    </p>


</div>